<!doctype html>
<html>
  <head>
    <title>Control panel</title>
    <style>
      th {
        text-align: right;
      }
      td input[type="text"],
      td input[type="number"],
      td input[type="file"] {
        width: 100%;
      }
    </style>
    {% if state == 'starting' or state == 'running' or state == 'aborting' %}
      <meta http-equiv="refresh" content="1">
    {% endif %}
  </head>
  <body>
    <form action="/start" method="POST" enctype="multipart/form-data">
      <table>
        <tbody>
          <tr>
            <th>Worker instance type:</th>
            <td>
              <input name="instance_type"
                     type="text" value="t2.micro"
                     {% if state != 'initial' %} disabled {% endif%}>
            </td>
          </tr>
          <tr>
            <th>Worker count:</th>
            <td>
              <input name="count"
                     type="number" min="1" step="1"
                     value="3"
                     {% if state != 'initial' %} disabled {% endif%}>
            </td>
          </tr>
          <tr>
            <th>Requirements:</th>
            <td>
              <input name="requirements"
                     type="file" accept=".txt"
                     {% if state != 'initial' %} disabled {% endif%}>
            </td>
          </tr>
          <tr>
            <th>Code:</th>
            <td>
              <input name="code"
                     type="file" accept=".py"
                     {% if state != 'initial' %} disabled {% endif%}>
            </td>
          </tr>
          <tr>
            <th>Data:</th>
            <td>
              <input name="data"
                     type="file"
                     {% if state != 'initial' %} disabled {% endif%}>
            </td>
          </tr>
          <tr>
            <th></th>
            <td style="text-align: right">
              <input type="submit" value="Start"
                     {% if state != 'initial' %} disabled {% endif%}>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <ul>
      {% for message in log %}
        {{ message }}
      {% endfor %}
    </ul>
    {% if state == 'starting' or state == 'running' %}
      <form action="/abort", method="POST">
        <input type="submit" value="Abort">
      </form>
    {% endif %}
    {% if state == 'initial' or state == 'aborted' or state == 'finished' %}
      <form action="/terminate", method="POST">
        <input type="submit" value="Terminate">
      </form>
    {% endif %}
  </body>
</html>

