<!doctype html>
<html>
  <head>
    <title>Start new task</title>
    <style>
      th {
        text-align: right;
      }
      td input[type="text"] {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data">
      <table>
        <tbody>
          <tr>
            <th>Region:</th>
            <td>
              <input name="region"
                     type="text" value="{{ region }}"
                     {% if messages is not none %} disabled {% endif %}>
            </td>
          </tr>
          <tr>
            <th>Role arn:</th>
            <td>
              <input name="role_arn"
                     type="text" value="{{ role_arn }}"
                     {% if messages is not none %} disabled {% endif %}>
            </td>
          </tr>
          <tr>
            <th>External id:</th>
            <td>
              <input name="external_id"
                     type="text" value="{{ external_id }}"
                     {% if messages is not none %} disabled {% endif %}>
            </td>
          </tr>
          <tr>
            <th>Controller instance type:</th>
            <td>
              <input name="instance_type"
                     type="text" value="{{ instance_type }}"
                     {% if messages is not none %} disabled {% endif %}>
            </td>
          </tr>
          <tr>
            <th></th>
            <td style="text-align: right">
              <input type="submit" value="Deploy"
                     {% if messages is not none %} disabled {% endif %}>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    {% if messages is not none %}
      <ul>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>

